// variables

//  PAKISTAN COLORS
// $color-primary: #3bb145;
// $color-primary-light: #48ce43;
// $color-primary-dark: #0c9c2b;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #fab970;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;

$color-gray-footer : rgb(63, 65, 73);
$color-gray: #777;
$color-gray-2: #aaa;

$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;

$color-black: #000;

// FONTS
$default-font-size: 1.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 3rem;
$gutter-horizental: 5rem;